// =============================================================================
// All pages
// =============================================================================
#backscreen{
    position: relative;
    float: left;
    width: 100%;
    height: 28.75*$grid-leading;
    background-color: $color-background;
    background:{
        repeat: no-repeat;
        size: 100% 100%;
    }
    h2{
        font-family: $font-nav;
        font-size: 2*$font-size-base;
        text-align: center;
        padding-top: 200px;
        line-height: 2*$grid-leading;
        color: $color-header;
    }
    h5{
        font-family: $font-nav;
        text-align: center;
        color: $color-header;
        line-height: 3*$grid-leading;
    }
}

::-webkit-scrollbar{
    display: none;
}


// =============================================================================
// Signup modal
// =============================================================================
#frame{
    visibility: hidden;
    position: fixed;
    float: right;
    margin: auto;
    margin:{
        left: 70%;
        top: -100%;
    }
    width: 30%;
    background-color: black;
    z-index: 10;
    #close{
        width: 30px;
        height: 30px;
        color: white;
        float: right;
        font-family: $font-nav;
        cursor: pointer;
    }
    #formformat{
        width: 100%;
        float: left;
        text-align: center;
        font-family: $font-nav;
        h2{
            text-align: center;
            color: white;
            padding: 5%; 
            font-size: 200%;
        }
        h4{
            text-align: center;
            color: white;
            padding-top: 5%;
            font-size: 100%;
        }
        input{
            margin:{
            top: 5%;
            bottom: 5%;
            }
            font-size: 100%;
        }
    }
}
// =============================================================================
// Index
// =============================================================================
.readmore{
    position: relative;
    float: left;
    margin: auto;
    width: 100%;
    h2{
        text-align: center;
        font-family: $font-header;
        line-height: 2.5*$grid-leading;
    }
    #container2{
        width: 60%;
        position: relative;
        margin: auto;
        div{
            width: 100%;
            float: left;
            img{
                width: 22%;
                margin:{
                    left: 7%;
                    right: 8%;
                }
            }
            .box{
                position: relative;
                width: 25%;
                padding: 2%;
                float: left;
                margin:{
                    left: 3.5%;
                }
                text-align: center;
                font-size: 0.9*$font-size-base;
                font-family: $font-nav;
                line-height: 1.5*$font-size-base;
            }
        }
        button{
            position: relative;
            width: 2*$grid-gutter-full;
            margin:{
                left: 40%;
                top: $grid-leading;
                bottom: $grid-leading;
            }
            border-radius: 10px;
            border: none;
            background-color: red;
            font-family: $font-header; 
            font-size: 0.9*$font-size-base;
            text-align: center;
            padding: 10px;
            cursor: pointer;
        }
    }
}

// =============================================================================
// How it works
// =============================================================================
.container{
    position: relative;
    margin: auto;
    width: 60%;
    div{
        position: relative;
        margin: auto;
        width: 60%;
        line-height: 1.5*$font-size-base;
        margin:{
            top: 1.5*$grid-gutter;
            bottom: 1.5*$grid-gutter;
        }
        font-size: 0.9*$font-size-base;
        img{
            position: relative;
            float: left;
            margin-right: $grid-gutter;
            width: 2*$grid-leading;
        }
        font-family: $font-nav;
    }
    // =============================================================================
    // About
    // =============================================================================
    h3{
        width: 80%;
        margin: auto;
        margin-top: $grid-leading;
        font-family: $font-nav;
        font-size: $font-size-base;
        line-height: 1.5*$font-size-base;
        text-align: justify;
    }
}

#books{
    position: relative;
    float: left;
    width: 100%;
    background-color: #e2e2e2;
    text-align: center;
    line-height: 2*$font-size-base;
    h2{
        font-family: $font-header;
        line-height: 2.5*$grid-leading;
    }
    h3{
        width: 80%;
        margin: auto;
        font-family: $font-nav;
        border-bottom: 1px solid red;
    }
}

#updates{
    position: relative;
    float: left;
    width: 100%;
    margin: auto;
    h2{
        text-align: center;
        font-family: $font-header;
        line-height: 2.5*$grid-leading;
    }
}

// =============================================================================
// Signed in page
// =============================================================================
.profile{
    position: relative;
    float: left;
    width: 80%;
    text-align: center;
    line-height: 2*$font-size-base;

    #format{
        position: fixed;
        width: 18%;
        float: right;
        background-color: #e2e2e2;
    }
    h2{
        font-family: $font-header;
        line-height: 2.5*$grid-leading;
    }
    h3{
        width: 60%;
        margin: auto;
        font-family: $font-nav;
        border-bottom: 1px solid red;
    }
    button{
        position: relative;
        width: 2*$grid-gutter-full;
        margin:{
            top: $grid-leading;
            bottom: $grid-leading;
        }
        border-radius: 10px;
        border: none;
        background-color: red;
        font-family: $font-header; 
        font-size: 0.9*$font-size-base;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
}

// =============================================================================
// Image scroll
// =============================================================================
.scroll-feature{
    width: 60%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    .scroll{
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        img {
            width: 18%;
            top: 0;
            z-index: 0;
            -webkit-transition: all 100ms;
            transition: all 100ms;
            position: relative;
        }
    }    
}

// =============================================================================
// Content slider
// =============================================================================
#window{
    width: 12*$grid-column;
    overflow: hidden;
    margin: auto;
    #slide-container{
        width: 36*$grid-column;
        transition: all .5s ease-in-out;
        .slide{
            width: 12*$grid-column;
            float: left;
            float: left;
            white-space: normal;
            img{
                float: left;
                margin-right: 10px;
            }
            span{
                float: left;
                font-weight: bold;
                font-family: $font-header;
            }
            p{
                float: left;
                width: 75%;
                text-align: justify;
            }
        }
    }
}
#nav-links{
    text-align: center;
    width: 100%;
    ul{
        display: inline-block;
        li{
            float: left;
            text-align: center;
            margin-left: 10px;
            cursor: pointer;
            background-color: black;
            padding: 5px;
            border-radius: 100%;
            border: black 5px solid;

            &:hover{
                background-color: gray;
            }

            &.active{
                background-color: red;
                color: red;

                &:hover{
                    background-color: red;
                    color: #FFFFFF;
                }
            }
        }
    }
}